.header {
  background-color: black;
  @include e(top) {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include e(logo) {
    color: $white;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  @include e(title) {
    margin: 0;
    font-size: 2.5rem;
  }
  @include e(subtitle) {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
  }
  @include e(social) {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }
  @include e(link) {
    margin-right: 10px;
    font-size: 1.4rem;
    text-decoration: none;
    color: $white;
    &:last-of-type {
      margin-right: 0;
    }
  }

  @include e(search) {
    grid-column: 3 / 4;
    grid-row: 1;
    background-color: $white;
    border-radius: 40px;
    padding: 5px;
  }
  @include e(search-btn) {
    color: black;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
  }
  @include e(search-text) {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: black;
    font-size: 16px;
  }

  @include e(btn) {
    margin-bottom: 10px;
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
  }
  @include e(btn-link) {
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    padding: 15px 20px;
    color: $white;
    background-color: $red;
    border-radius: 5px;
  }
}
